<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
    package="o1310.rx1310.app.rebootmanager">
	
	<original-package android:name="o1310.rx1310.app.rebootmanager" />
	
	<supports-screens 
		android:anyDensity="true" 
		android:largeScreens="true" 
		android:normalScreens="true" 
		android:resizeable="true" 
		android:smallScreens="true" 
		android:xlargeScreens="true" />
	
	<uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
	<uses-permission android:name="android.permission.REBOOT" />
	
   	<application 
		android:allowBackup="true" 
		android:hardwareAccelerated="true" 
		android:icon="@mipmap/ic_launcher" 
		android:label="@string/app_name" 
		android:noHistory="true" 
		android:screenOrientation="portrait" 
		android:supportsRtl="true" 
		android:theme="@style/AppTheme.Dialog">
		
		<activity 
			android:excludeFromRecents="true" 
			android:finishOnCloseSystemDialogs="true" 
			android:launchMode="singleInstance" 
			android:name=".MainActivity" 
			android:noHistory="true">
            <intent-filter>
				<action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		
		<activity 
			android:excludeFromRecents="true" 
			android:finishOnCloseSystemDialogs="true" 
			android:launchMode="singleInstance" 
			android:name=".AdditionallyActivity" 
			android:noHistory="true">
            <intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
				<action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="com.cyanogenmod.category.LAUNCHER_PREFERENCES"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.PREFERENCE"/>
            </intent-filter>
        </activity>
		
		<!-- Сервисы -->
		<service
            android:name=".service.RebootIntoRecoveryTile"
            android:label="@string/tile_reboot_into_recovery"
            android:icon="@drawable/ic_recovery"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true"/>
        </service>
		
		<service
            android:name=".service.RebootIntoBootloaderTile"
            android:label="@string/tile_reboot_into_bootloader"
            android:icon="@drawable/ic_bootloader"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true"/>
        </service>
		
    </application>
	
</manifest>
